.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    // should be on top of everything
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
  }

  // element that spans across the whole page on button click
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // linear-gradient goes from one side to another,
    // while the radial-gradient starts in the middle of the element
    // and goes from there in all directions outwards
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    // animate the background
    // easings.net, cubic-bezier.com - sites for cubic bezier hacks
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    // transform: scale(80);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // should be above backgrond
    z-index: 1500;
    // using width: 0 with opacity because the elements are invisible
    // but still present on the page (showing the cursor)
    opacity: 0;
    width: 0;
    // animate the opacity and width
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  //   this will be centered inside __nav container
  &__list {
    @include center-horizontal-vertical;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      // how much the linear gradient will cover (the whole background)
      background-size: 220%;
      transition: all 0.4s;
      // hide animation "shake"
      backface-visibility: hidden;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      // on hover the background will shift to the left side
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    // increase the size 80 times
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    // add opacity and bring back the width to 100% when checked
    opacity: 1;
    width: 100%;
  }
}
