.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    // should be on top of everything
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  // element that spans across the whole page on button click
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // linear-gradient goes from one side to another,
    // while the radial-gradient starts in the middle of the element
    // and goes from there in all directions outwards
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 1000;
    // animate the background
    // easings.net, cubic-bezier.com - sites for cubic bezier hacks
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // should be above backgrond
    z-index: 1500;
    // using width: 0 with opacity because the elements are invisible
    // but still present on the page (showing the cursor)
    opacity: 0;
    width: 0;
    // animate the opacity and width
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  //   this will be centered inside __nav container
  &__list {
    @include center-horizontal-vertical;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      // how much the linear gradient will cover (the whole background)
      background-size: 220%;
      transition: all 0.4s;
      // hide animation "shake"
      backface-visibility: hidden;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      // on hover the background will shift to the left side
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    // increase the size 80 times
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    // add opacity and bring back the width to 100% when checked
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    // the middle line
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      // transition for animation on button hover
      transition: all 0.2s;
    }

    // position of top and bottom line
    &::before {
      top: -0.8rem;
      // saying where the transformation should happen -
      // on the right side of the parent element
      // if transform-origin is not specified, the rotation is at the center
      // transform-origin: right;
    }

    &::after {
      top: 0.8rem;
    }
  }

  // for animating lines in button on hover (moving up and down)
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  // FOR MAKING AN "X" WHEN CLICKED

  // adjacent sibling - selecting checked state,
  // and then with adjacent selector selecting the button
  // and icon which is child of the button
  &__checkbox:checked + &__button &__icon {
    // the simplest way to make the line icon (the middle one that is not composed
    // of pseudo elements to disappear):
    // instead of changing the witdth to 0, set the background-color to transparent
    // because changed width would mess pseudo selectors
    background-color: transparent;
  }

  // rotate upper and lower line (pseudo elements) to make an "X"
  // top: 0; is for moving pseudo elements to center (without it, they rotate
  // related to hidden middle element
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    // for nicer rotation is 135deg
    // 180deg - 45deg
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
