@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

// NOTE: em units are the best to use in media queries
// 1em = 16px

/*

0 - 600px:        Phone (max-width query)
600 - 900px:      Tablet portrait (max-width query)
900 - 1200px:     Tablet landscape (max-width query)
1200 - 1800px:    Is where normal styles apply
1800px + :        Big desktop (min-width query)

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER OF WRITING QUERIES: Base + typography -> general layout + grid -> components

*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // "only screen" means that media query only apply to the screens
    // With this, media queries won't apply for printing of the page
    @media only screen and (max-width: 37.5em) {
      // 600px / 16px = 37.5em
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      // 900px / 16px = 37.5em
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      // 1200px / 16px = 37.5em
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      // 1800px / 16px = 37.5em
      @content;
    }
  }
}

/* Example for @content directive
@mixin respond-phone {
  @media (max-width: 600px) {
    // Sass directive used for passing a block of code into the mixin
    @content;
  }
} */
