.card {
  /* FUNCTIONALITY */
  // for perspective property, as bigger the number,
  // the better is the effect
  perspective: 150rem;
  -moz-perspective: 150rem;
  // for absolute positioning to work
  position: relative;
  // child has position: absolute and parent looses the height, so we need
  // to specify the same height as child
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all 0.8s ease;
    // position: absolute and top/left values are for positioning
    // the cards to be on top of one another
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // hides the back part of an element (earlier used to fix the weird animation effect)
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: $default-border-radius;
    // the image is overflowing the parent element, and round borders are not visible
    // without overflow set to hidden
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      // front is normally oriented, and back is 180deg rotated
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    // fix - instead 180deg, it should be -180deg, so it moves in right direction
    transform: rotateY(-180deg);
  }

  // it is already flipped 180deg, so it needs to be reset to 0 on hover
  &:hover &__side--back {
    transform: rotateY(0);
  }

  /* FRONT SIDE STYLING */
  // unsplash.com - website for free images
  &__picture {
    background-size: cover;
    height: 23rem;
    // new property, not supported in IE and Edge;
    // can do a lot of color variations on image, similar to photoshop
    background-blend-mode: screen;
    // clip image
    -weblit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    // handle text and spacing inside container
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      // centering block element inside block element
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  /* BACK SIDE STYLING */
  &__cta {
    @include center-horizontal-vertical;
    width: 90%;
    text-align: center;
  }

  &__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: $color-white;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }

  /* media query copied from tab-port mixin, so the card should be displayed with the back part 
  visible when the screen is smaller than 56.25em or if we are using device on which we can't hover 
  (hover: none detects devices that don't have hover, like tablets, phones...) */
  /* hover: hover is the opposite */
  /* @include respond(tab-port) { */
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    // height changed to auto because we no longer have two sides of the card
    height: auto;
    border-radius: $default-border-radius;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        // remove rotating
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
}
