/* Added after and before pseudo elements to this rule to prevent any unwanted behavior,
   because only real elements get behavior from declared properties */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* Added box-sizing: border-box; from here to the body, 
             and instead of that rule, added here box-sizing: inherit;
             to 'force' box sizing inheritance to all other elements in html */
  box-sizing: inherit;
}

/* Changed global font size from initial 16px (commented out from the body) to 10px,
         then changed all px units to corresponding rem units 
         (1rem became 10px - as it looks to the root element's font size) 
         by dividing pixel units by 10.
         But in order to get responsive website, it is better practice to have default 
         font size in percentage. So, 10 divided by 16 gives 62.5% */
html {
  /* font-size: 10px; */
  /* This defines what 1rem is */
  font-size: 62.5%;

  // This would be written without a mixin
  /* @media (max-width: 600px) {
    font-size: 50%;
  } */

  // Example for @content directive
  /*@include respond-phone {
    // This is actually the @content passed to respond-phone mixin
    font-size: 50%;
  }*/

  // NOTE: ORDER IS IMPORTANT IN MEDIA QUERIES - when conflicted, the last one applies
  // and always the larger ones before the smaller ones

  @include respond(tab-land) {
    // width < 1200px?
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%;
  }

  @include respond(tab-port) {
    // width < 900px?
    font-size: 50%; // 1rem = 8px; 8/16 = 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 = 75%;
  }
}

body {
  box-sizing: border-box;
}
